.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--content-max-width);
  margin: var(--border-width) 0px;
}

.title {
  font-family: var(--font-main);
  color: var(--color-main);
  font-weight: bold;
  font-size: var(--font-size-title);
  margin: 10px 0px;
}

.line {
  height: 1px;
  background-color: #232323;
  width: 100%;
}

/* Mobile */
@media (max-width: 33em) {
  .container {
    margin-top: 120px;
  }

  .title {
    margin-top: 0px;
  }

}