.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-top: 100px;
}

.svg {
  width: 100%;
  position: relative;
  min-width: 1000px;
}

.content_wrapper {
  background-color: var(--color-footer-main);
}

.inner {
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.top_inner {
  margin-bottom: 50px;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-direction: column-reverse;
  margin: 40px 0px;
}

.line {
  background-color: white;
  width: 100%;
  height: 1px;
  margin-bottom: 50px;
}

.first {
  display: none;
}

.text {
  font-size: var(--font-size-paragraph);
  line-height: 1.6em;
  width: 100%;
  max-width: 550px;
  margin-top: 0px;
  color: white;
  margin-bottom: 2px;
}

.links {
  font-size: var(--font-size-paragraph);
  line-height: 1.6em;
  width: 100%;
  max-width: 550px;
  margin-top: 0px;
  text-decoration: underline;
  color: white;
}

.logo {
  height: 50px;
  opacity: 0.2;
}


/* Tablet */
@media (min-width: 62em) {

  .top {
    flex-direction: row;
    align-items: center;
  }
  .bottom {
    align-items: baseline;
    justify-content: space-between;
    flex-direction: row;
  }

  .line {
    width: 1px;
    height: 300px;
    margin-right: 80px;
    margin-bottom: 0;
  }

  .first {
    display: flex;
  }

  .top_inner {
    margin-right: 80px;
    margin-bottom: 0;
  }

}
