.outer {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 100px auto;
  align-items: flex-start;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.wrapper {
  display: block; /* Important */
}

.form_title {
  margin: 2px 0px;
  font-size: var(--font-size-p-title);
}

.line {
  display: flex;
  height: 2px;
  width: 180px;
  background-color: var(--color-main);
  margin-bottom: 20px;
}

.element_wrapper {
  position: relative;
  margin-bottom: 50px;
}

.element {
  border-radius: 10px;
  border: 1px solid #f4f4f4;
  padding: 15px 10px;
  width: 100%;
  max-width: 420px;
  font-size: var(--font-size-input);
  position: relative;
  font-weight: normal;
}

.input, .textarea  {
  display: flex;
  color: #323232;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.1);
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.element:focus {
  background-color: #fafafa;
  border: 1px solid #fafafa;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
}

.element:hover {
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
}

.element::placeholder, .element::-ms-input-placeholder, .element::-ms-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #a5a5a5;
  margin-left: 20px;
}

.input:focus::placeholder, .textarea:focus::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fafafa;
}

.textarea {
  height: 120px;
  font-family: var(--font-main);
  font-size: calc(var(--font-size-input) * 0.8);
  resize: vertical;
}

.error_message {
  position: absolute;
  color: black;
  opacity: 1;
  font-size: 0.9em;
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  line-height: 2.5em;
  transform: translateY(-40px);
}

/* Checkbox Wrapper */
.checkbox_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hide the browser's default checkbox */
.checkbox_wrapper input {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
}

/* Checkbox Text */
.checkbox_wrapper p {
  margin: 0;
  margin-left: 15px;
  max-width: 380px;
}

/* Checkbox Link */
.checkbox_wrapper a {
  text-decoration: underline;
  color: var(--color-main);
}

/* New Checkbox */
.checkbox {
  display: flex;
  height: 25px;
  width: 25px;
  border-radius: 5px;
  border: 2px solid var(--color-main);
}

/* When the checkbox is checked, add background */
.container input:checked ~ .checkbox {
    background-color: var(--color-main);
}


.button {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  
}

/* Desktop */
@media (min-width: 82em) {

  .container {
    flex-direction: row;
    justify-content: center;
  }

  .wrapper {
    width: 420px;
  }

  .wrapper:first-of-type {
    margin-right: 30px;
  }

  .wrapper:last-of-type {
    margin-left: 30px;
  }

  .element {
    padding: 16px 10px;
  }

  .button {
    justify-content: flex-end;
  }

}
