@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* For the smallest screens & global values */
:root {
  /* Colors */
  --color-main: #F7C331;
  --color-text: #241515;
  --color-secondary: #F7882F;
  /* Footer */
  --color-footer-main: #3B3B3B;
  --color-footer-secondary: #242220;

  /* Shapes */
  --color-bg-shape: #DCC7AA;

  /* Screen */
  --content-max-width: 1500px;
  --border-width: 30px;
  /* Fonts */
  --font-main: 'Open Sans', sans-serif;
  --font-secondary: ;

  /* Font Size */
  --font-size-title: 2em;
  --font-size-p-title: 1.5em;
  --font-size-section-title: 2.5em;
  --font-size-paragraph: 1.2em;
  --font-size-input: 1.1em;
  --font-size-note: 0.8em;
  --font-size-navigation: 1.4em;
}

/* Mobile */
@media (min-width: 43em) {
  :root {
  --font-size-title: 3em;
  --font-size-p-title: 2em;
  --font-size-section-title: 3em;
  --font-size-paragraph: 1.3em;
  --font-size-note: 0.9em;
  --font-size-navigation: 1.5em;
  --border-width: 60px;
  }
}

/* Tablet */
@media (min-width: 62em) {
  :root {
  --font-size-title: 4em;
  --font-size-p-title: 2em;
  --font-size-section-title: 3em;
  --font-size-paragraph: 1.4em;
  --font-size-note: 1em;
  --font-size-navigation: 1.6em;
  --border-width: 70px;
  }
}

/* Desktop */
@media (min-width: 82em) {
  :root {
  --font-size-title: 5em;
  --font-size-p-title: 2em;
  --font-size-section-title: 3em;
  --font-size-paragraph: 1.3em;
  --font-size-input: 1.3em;
  --font-size-note: 1.2em;
  --font-size-navigation: 1.3em;
  --border-width: 90px;
  }
}

/* Desktop Big */
@media (min-width: 102em) {
  :root {
  --font-size-title: 5em;
  --font-size-p-title: 2.5em;
  --font-size-section-title: 4em;
  --font-size-paragraph: 1.5em;
  --font-size-note: 1.2em;
  --font-size-navigation: 1.8em;
  --border-width: 120px;
  }

}

.content_container {
  width: calc(100% - ( 2* var(--border-width)));
  margin: 0px var(--border-width);
  max-width: var(--content-max-width);
  margin: 0 auto;
}

.note {
  font-size: var(--font-size-note);
  margin: 2px 0px;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--font-main), BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.disable_select {
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

/* Landing Page Slider */
.indicators {
  display: none;
}

/* Desktop */
@media (min-width: 82em) {
  .indicators {
    float: right;
    margin-right: 30px;
  }

  .indicator {
    position: relative;
    display: inline-block;
    margin: 6px;
    background-color: rgba(255,255,255,0.3);
    padding: 5px;
    bottom: 65px;
    border-radius: 20px;
  }

  .indicator.active {
    background-color: white;
  }
}

/* Desktop Big */
@media (min-width: 102em) {
  .indicators {
    margin: var(--border-width);
  }

  .indicator {
    margin: 8px;
    padding: 6px;
    bottom: 100px;
  }
}

/* Formular conf */

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {

}

*:focus {
  outline: none;
}
