.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.line {
    display: none;
}

.img_wrapper {
    display: flex;
    justify-content: center;
}

.img {
    height: auto;
    width: 80%;
    max-width: 400px;
    border-radius: 15px;
    margin: 50px 0px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.1);
}

.img:hover {
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
    transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.text {
    display: flex;
    flex-direction: column;
}
  
/* Desktop */
@media (min-width: 82em) {

.wrapper {
    flex-direction: row;
}

.img {
    height: 380px;
    width: auto;
}

.line {
    display: flex;
    height: 500px;
    width: 2px;
    background-color: var(--color-main);
    margin: 0px 40px;
}

}