.time_slider {
    background-color: var(--color-bg-shape);
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    padding: 50px 0px;
    color: white;
}

.timeline_wrapper {
    display: flex;
    height: 60px;
    width: 100%;
    align-items: center;
}

.dots {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex-direction: row-reverse;
}

.timeline {
    position: absolute;
    height: 2px;
    width: 100%;
    max-width: calc(100% - ( 2* var(--border-width)));
    background-color: white;
    margin: auto 0;
}

.dot {
    position: relative;
    height: 18px;
    width: 18px;
    background-color: seagreen;
    margin: 0px 20px;
    border-radius: 100px;
    background-color: #b4a58e;
    align-self: center;

}

.year {
    font-size: var(--font-size-paragraph);
    text-align: center;
    margin: 2px 0px;
    position: absolute;
    margin-bottom: 40px;
}

.values_bottom {
    position: absolute;
    width: 100%;
    max-width: calc(100% - ( 2* var(--border-width)));
}

.right_value {
    float: right;
}

.img_slider {
    background-color: var(--color-footer-secondary);
    width: 100%;
    height: 700px;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    user-select: none;
    cursor: pointer;
}

.img_slider::-webkit-scrollbar {
    display: none;
  }

.scroll_container {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    overflow-x: scroll;
    overflow-y: hidden;
    cursor: pointer;
    padding-right: 150px; /* Offset right value */
}

  .imgButton {
    display: none;
}

.detailView {
    position: absolute;
    z-index: 200;
    background-color: rgb(23, 23, 23);
    height: inherit;
    width: 100%;
    opacity: 1;
    overflow: hidden;
    backdrop-filter: blur(5px);
    color: white;
    display: flex;
    align-items: center;
    opacity: 1;
    z-index: 800;
}

.detailImg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: auto;
    z-index: -200;
    opacity: 0.2;
}

.detailClose {
    height: 50px;
    width: 50px;
    float: right;
}

.detailTitle {
    font-size: var(--font-size-p-title);
}

.detailDate {
    font-size: var(--font-size-paragraph);
}

.detailText {
    font-size: var(--font-size-paragraph);
}

.line {
    height: 2px;
    width: 100%;
    max-width: 700px;
    background-color: var(--color-main);
}

/* Mobile */
@media (min-width: 43em) {

}
  
/* Tablet */
@media (min-width: 62em) {

    .detailView {
        background-color: rgba(0, 0, 0, 0.7);
    }

    .imgButton {
        display: block;
        position: absolute;
        background-color: var(--color-main);
        border-radius: 5px;
        padding: 14px;
        height: 50px;
        width: 50px;
        z-index: 200;
    }

}

/* Desktop */
@media (min-width: 82em) {

    .time_slider {
        margin-top: 100px;
        padding: 30px 0px;
    }

    .img_slider {
        height: 800px;
    }

    .detailImg {
        height: 660px;
        margin-right: 60px;
    }

}

/* Desktop Big */
@media (min-width: 102em) {

    .time_slider {
        margin-top: 100px;
        padding: 50px 0px;
    }

    .img_slider {
        height: 1000px;
    }

    .detailImg {
        height: 800px;
        margin-right: 100px;
    }

}