.cover {
    pointer-events: none;
    max-width: 300px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.slide_element {
    border: 2px solid rgba(0,0,0,0);
}

/* Mobile */
@media (min-width: 43em) {

    .cover {
        max-width: 300px;
    }

}
  
/* Tablet */
@media (min-width: 62em) {

}

/* Desktop */
@media (min-width: 82em) {

    .cover {
        max-width: 320px;
    }

}

/* Desktop Big */
@media (min-width: 102em) {

    .cover {
        max-width: 420px;
    }

}