.time_slider {
    background-color: var(--color-bg-shape);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    padding: 50px 0px;
    margin: 0 auto;
    color: white;
}

.timeline {
    display: flex;
    justify-content: space-evenly;
    height: 2px;
    width: 100%;
    background-color: white;
}

.dot {
    position: relative;
    display: inline-flex;
    height: 18px;
    width: 18px;
    background-color: seagreen;
    margin: 0px 20px;
    border-radius: 100px;
    background-color: #b4a58e;
}

.year {
    font-size: var(--font-size-paragraph);
}

.values_bottom {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.img_slider {
    background-color: var(--color-footer-secondary);
    width: 100%;
    height: 1000px;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.img_slider::-webkit-scrollbar {
    display: none;
  }

.slide_element {
    height: auto;
    width: auto;
    margin: 20px;
    display: inline-flex;
}

.detailView {
    position: absolute;
    z-index: 400;
    background-color: rgba(0, 0, 0, 0.7);
    height: inherit;
    width: 100%;
    opacity: 1;
    overflow: hidden;
    backdrop-filter: blur(5px);
    color: white;
    display: flex;
    align-items: center;
}

.detailImg {
    height: 800px;
    width: auto;
    margin-right: 100px;
}

.detailClose {
    height: 50px;
    width: 50px;
    float: right;
}

.detailTitle {
    font-size: var(--font-size-p-title);
}

.detailDate {
    font-size: var(--font-size-paragraph);
}

.detailText {
    font-size: var(--font-size-paragraph);
}

.line {
    height: 2px;
    width: 100%;
    max-width: 700px;
    background-color: var(--color-main);
}